---
layout: archive
title: "Physics-Informed Machine Learning for Modelling Defect-Driven Catalytic Phenomena"
permalink: /phdthesis/
author_profile: true
---

{% include base_path %}


{% for post in site.phdthesis %}
  {% include archive-single.html %}
{% endfor %}

I completed my PhD under the supervision of Dr Andrew Logsdail at the Cardiff Catalysis Institute, in collaboration with Johnson Matthey and the bp International Centre for Advanced Materials (bp-ICAM). My research combines quantum mechanical simulations with modern machine learning approaches to understand how defects influence the performance of catalytic materials:

<br>

* Developing new methods for determining DFT+<em>U</em> parameters that enable accurate and efficient simulations of polarons in transition metal and rare-earth oxides.

* Applying DFT-parameterised statistical algorithms and interatomic potentials to investigate design strategies for sulfur-tolerant industrial catalysts.

<p align="center">
  <img src="/images/Linkedin_summary.png" alt="Overview of my PhD research" style="max-width: 700px; width: 100%; border-radius: 0px;">
</p>

