---
layout: archive
title: "My PhD Research in Computational Chemistry"
permalink: /phdthesis/
author_profile: true
---

{% include base_path %}


{% for post in site.phdthesis %}
  {% include archive-single.html %}
{% endfor %}

I completed my PhD under the supervision of Dr Andrew Logsdail at the Cardiff Catalysis Institute, in collaboration with Johnson Matthey and the bp International Centre for Advanced Materials (bp-ICAM), as part of the EPSRC-funded Prosperity Partnership <em>Sustainable Catalysis for Clean Growth</em>.

<p></p>

My thesis is titled <strong>"Physics-Informed Machine Learning for Modelling Defect-Driven Catalytic Phenomena"</strong>, focusing on the development and application of machine learning, statistical algorithms and quantum mechanical simulations to better understand how defects influence the performance of complex catalytic materials:

<ul>
  <li>Developing a new methods for determining DFT+<em>U</em> parameters (<em>U</em> values and projectors) that enable accurate and efficient simulations of polarons in transition metal and rare-earth oxides.</li>
  <li>Applying DFT-parameterised statistical algorithms (Monte Carlo sampling) and interatomic potentials (MACE) to investigate design strategies for sulfur-tolerant industrial catalysts.</li>
</ul>

<p align="center">
  <img src="{{ base_path }}/images/Linkedin_summary.png" alt="Overview of my PhD research" style="max-width: 700px; width: 100%; border-radius: 0px;">
</p>
